@use '../../../../../styles/variables' as *;
.navbar {
  position: fixed;
 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1976d2;
    @media (max-width: $xs) {
    display: flex;
    flex-direction: column;
     height: 80px;
  }
}

.logo {
  width: 40%;
  min-width: 134px;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
}

.filter {
  width: 50%;
  @media (max-width: $xs) {
    width: 100%;
  }
}
.main-content {
  margin-top: 64px;
}
