<main class="contenedor">
  <div class="btn">
  <button (click)="addHeroe()"mat-button>Agregar Heroe</button>
</div>

<div class="card-list">
 
  @for ( hero of pagedHeroes() ; track hero.id){
    <app-hero-card
      [hero]="hero"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)">
    </app-hero-card>
  }@empty {
    <div class="empy">
      <h2>Nada por Aqui</h2>
    </div>
  }
</div>

<mat-paginator
  [length]="heroesSignal().length"
  [pageSize]="pageSize()"
  [pageIndex]="currentPage()"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)">
</mat-paginator>

</main>